<launch>

    <arg name="bag_path" default="$(find lab3)/bag_data/glennan_5_basic.bag"/>
    <arg name="bag_args" default="/tf_trajectory:=/tf --clock"/>
    <arg name="map_config_path" default="$(find maps_glennan)/maps/glennan5_map.yaml"/>

    <include file="$(find navvis_description)/launch/display.launch">
        <arg name="use_xacro" value="true"/>
        <arg name="file" value="$(find lab3)/urdf/description.xacro"/>
        <!-- <arg name="file" default="$(find navvis_description)/urdf/$(arg filename)"/> -->
        <arg name="use_joint_state_publisher_gui" value="true"/>
        <arg name="use_robot_state_publisher" value="true"/>
    </include>
    
    <node pkg="rosbag" type="play" name="rosbag" args="$(arg bag_path) $(arg bag_args)"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_config_path)"/>

</launch>
